@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700")

body {
	background-color: steelblue;
	font-family: 'Open Sans'
}

.row {
	display: flex;
	flex-direction: row;
}

.module {
	
}