@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

body {
  background: steelblue;
  font-family: 'Open Sans';
  color: #696969;
}

.row {
	padding: 25px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1200px;
	justify-content: center;
	margin: 0 auto;
}

.module {
	position: relative;
	background-color: #efefef;
	width: 30%;
    display: flex;
    flex-direction: column;
    border-top: 10px solid #C2185B;
    border-radius: 10px;
    min-width: 350px;
    margin: 5px 5px;
    box-shadow: 0px 2px 2px rgba(0,0,0,.4);
    -webkit-transition: .2s
  	transition: .2s
  	position: relative;
  	top: 0px;
}

.module:hover {
	top: -10px;
  	-webkit-transition: .2s;
	transition: .2s;
}

.content {
	display: flex;
	flex-direction: column;
}

.review {
	padding: 20px;
	margin-bottom: 5px;
	border-top: 1px dotted grey;
    margin: 0 5px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.cover {
	height: 125px;
	width: 125px;
	padding: 5px;
}

.title {
	font-size: 24px;
}

.release {
	font-size: 18px;
}

.text {
	padding: 5px 0;
	font-size: 14px;
}