@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

body {
  background: steelblue;
  font-family: 'Open Sans';
}

.row {
	display: flex;
	flex-direction: row;
	width: 80%;
	margin: 0 auto;
	justify-content: space-around;
}