@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

body {
  background: steelblue;
  font-family: 'Open Sans';
}

.row {
	display: flex;
	flex-direction: row;
	width: 80%;
	margin: 0 auto;
	justify-content: center;
}

.module {
	background-color: #efefef;
	width: 25%;
	margin: 10px 5px;
	padding: 5px;
}

.content {
	display: flex;
	flex-direction: column; 
	width: 85%;
	margin: 0 auto;
}

.cover {
	height: 125px;
	width: 125px;
	align-self: center;
	background-color: purple;
}

.name {
	font-size: 24px;
}

.title {
	font-size: 18px;
}

.text {
	font-size: 14px;
}